<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My Website{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  </head>
  <body>
    <style>
      a.loginn{
  padding: 12px 18px;
    height: 100%;
    display: inline-flex;
    align-items: center;
    border: 1px solid #3d75e6;
    background-color: transparent;
    color: #3d75e6;
    text-transform: capitalize;
      }
   
    </style>
    <header class="p-3 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <h2>D </h2><i>jango</i>
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>
  
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
            <li><a href="/aboutus" class="nav-link px-2 text-white">About Us</a></li>
            <li><a href="/contactus" class="nav-link px-2 text-white">Contact Us</a></li>
          
          </ul>
  
         <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form>-->
          
          <div class="text-end">
          {% if user.is_authenticated %}
          {# User is logged in #}
          <a>Welcome, {{ user.username|title }}!</a>
          <a href="{% url 'logout' %}" class="btn btn-warning" >Logout</a>

          {% else %}
            <a href='/login'><button type="button" class="btn btn-outline-light me-2">Login</button></a>
            <a href='/signup'> <button type="button" class="btn btn-warning">Sign-up</button></a>
          {% endif %}  
          </div>
        </div>
      </div>
    </header>
        <div class="container mt-4"> 
      {% block content %}
      {% endblock %}
        </div>
        <div class="bg-dark-overlay-3 mt-5 footer">
          <div class="container-fluid ">
            <div class="bg-dark text-light row align-items-center justify-content-md-between py-4">
              <div class="col-md-6">
                <!-- Copyright -->
                <div class="text-center text-md-start text-primary-hover text-body-secondary">©2023 <a href="/" class="text-reset btn-link" target="_blank">Vikash Gupta</a>. All rights reserved
                </div>
              </div>
              <div class="col-md-6 d-sm-flex align-items-center justify-content-center justify-content-md-end">
                <!-- Language switcher -->
<!--                <div class="">
                  <a class="dropdown-toggle text-primary-hover" href="#" role="button" id="languageSwitcher" data-bs-toggle="dropdown" aria-expanded="false">
                    English Edition
                  </a>
                  <ul class="dropdown-menu min-w-auto text-light" aria-labelledby="languageSwitcher">
                    <li><a class="dropdown-item " href="#">English</a></li>
                    <li><a class="dropdown-item" href="#">German </a></li>
                    <li><a class="dropdown-item" href="#">French</a></li>
                  </ul>
                </div>-->
                <!-- Links -->
                <ul class="nav text-primary-hover text-center text-sm-end justify-content-center justify-content-center mt-3 mt-md-0">
                  <li class="nav-item"><a class="nav-link text-light" href="#">Terms</a></li>
                  <li class="nav-item"><a class="nav-link text-light" href="#">Privacy</a></li>
                  <li class="nav-item"><a class="nav-link pe-0 text-light" href="#">Cookies</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>